name: workflow

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v1
        id: login-ecr

      - run: |
          docker build -t ${{ steps.login-ecr.outputs.registry }}/networksecurity:latest .
          docker push ${{ steps.login-ecr.outputs.registry }}/networksecurity:latest

  deploy:
    needs: build_and_push
    runs-on: self-hosted
    steps:
      - uses: aws-actions/amazon-ecr-login@v1
        id: login-ecr

      - run: |
          docker stop networksecurity || true
          docker rm networksecurity || true

      - run: |
          docker pull ${{ steps.login-ecr.outputs.registry }}/networksecurity:latest

      - run: |
          docker run -d \
            --name networksecurity \
            -p 8080:8000 \
            -e AUTH_ENABLED=false \
            ${{ steps.login-ecr.outputs.registry }}/networksecurity:latest
